@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

ul {
  list-style-type: disc;
}

@layer base {
  h1 {
    @apply font-semibold text-3xl text-primary; 
  }
  h2 {
    @apply font-semibold text-2xl text-secondary; 
  }
  h3 {
    @apply font-semibold text-xl text-secondary;
  }
  
}

.container-layout {
  @apply border border-border shadow-md px-8 py-6 flex flex-col gap-6 rounded-md;
}

.main-grid {
  @apply grid grid-cols-1 gap-10 p-10 w-full max-w-[550px] xl:max-w-none xl:grid-cols-[minmax(410px,_475px)_minmax(450px,_525px)_minmax(410px,_475px)] place-content-center;
}

.grid-column {
  @apply flex flex-col gap-4 p-2;
}

